<div class="row clearfix" [@routerTransition]>
    <div #bottlingContent class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form *ngIf="active" #bottlingForm="ngForm"  id="frm_bottling_beer" novalidate (ngSubmit)="save(false)">
            <div class="container-fluid">
                <ul class="list-unstyled multi-steps">
                    <li class="{{beer.actualStep == 1 ? 'is-active': 'inactive'}}" (click)="goToProcess(1)">{{ "Mash" | localize }}</li>
                    <li class="{{beer.actualStep == 2 ? 'is-active': 'inactive'}}" (click)="goToProcess(2)">{{ "Boiling" | localize }}</li>
                    <li class="{{beer.actualStep == 3 ? 'is-active': 'inactive'}}" (click)="goToProcess(3)">{{ "Fermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 4 ? 'is-active': 'inactive'}}" (click)="goToProcess(4)">{{ "QuietFermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 5 ? 'is-active': 'inactive'}} selected" (click)="goToProcess(5)">{{ "Bottling" | localize }}</li>
                </ul>
            </div>
            <div class="card main-content">
                <div class="header">
                    <h2>
                        {{l('Bottling')}}
                        <div class="btn-brew-group pull-right">
                            <button [disabled]="!bottlingForm.form.valid || saving" type="submit" [value]="bottlingForm.form.valid" class="btn btn-primary waves-effect" style="margin-right:10px">
                                {{ "Save" | localize }}
                            </button>
                            <button [disabled]="!bottlingForm.form.valid || saving || beer.actualStep > 5" type="button" class="btn btn-warning waves-effect" (click)="finish()">
                                {{ "Finish" | localize }}
                            </button>
                        </div>
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <ng-datepicker name="DateOfBottling" [(ngModel)]="bottlingProcess.date" [options]="{displayFormat:'YYYY-MM-DD', locale: enLocale, useEmptyBarTitle: false, firstCalendarDay: 1,addClass: 'validate form-control', fieldId: 'dateOfBottling' }" (ngModelChange)="dateChanged()"></ng-datepicker>
                                            <label for="dateOfBottling" class="form-label">{{ "DateOfBottling" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="endBLG" type="number" name="EndBLG" [(ngModel)]="bottlingProcess.blg" required class="validate form-control" (ngModelChange)="blgChanged()">
                                            <label for="endBLG" class="form-label">{{ "EndBLG" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="bottledBeerQuantity" type="number" name="BottledBeerQuantity" [(ngModel)]="bottlingProcess.quantity" required class="validate form-control" (ngModelChange)="calculateSugar()">
                                            <label for="bottledBeerQuantity" class="form-label">{{ "BottledBeerQuantity" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-line">
                                        <span class="form-label">{{ "ABVBottle" | localize }} <b>{{endABV || "----"}} %</b>, {{"Attenuation" | localize }} <b>{{fermentationDg || "----"}} %</b>, {{"Calories" | localize }} <b>{{calories || "---- "}} kcal</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span style="color: #ff8400;">{{beer.name}}</span>
                </div>
            </div>
            <div class="row clearfix" >
                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('Sugar')}}
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="coLevel" type="number" name="COLevel" [(ngModel)]="bottlingProcess.coLevel" class="validate form-control" (ngModelChange)="calculateSugar()">
                                            <label for="coLevel" class="form-label">{{ "COLevel" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="grainTemp" type="number" name="GrainTemp" [(ngModel)]="bottlingProcess.grainTemp" class="validate form-control" (ngModelChange)="calculateSugar()">
                                            <label for="grainTemp" class="form-label">{{ "GrainTemp" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-line">
                                        <span class="form-label">{{ "SugarQunatity" | localize }} <b>{{sugarQuantity || "----"}} g</b> {{ "GlucoseQunatity" | localize }} <b>{{glucoseQuantity || "----"}} g</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('BeerStyleSugar')}}
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6"></th>
                                            <th class="col-xs-4"></th>
                                            <th class="col-xs-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>{{l('British Ales')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>1.5 - 2.0</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('Porter, stout')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>1.7 - 2.3</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('Belgian Ales')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>1.9 - 2.4</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('European Lager')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>2.2 - 2.7</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('American Ales and Lager')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>2.2 - 2.7</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('Lambic')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>2.4 - 2.8</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('Fruit Lambic')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>3.0 - 4.5</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>{{l('German Wheat')}}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <span><strong>3.3 - 4.5</strong></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>