<div class="row clearfix" [@routerTransition]>
    <div #beerBoilContent class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form *ngIf="active" #breweryForm="ngForm"  id="frm_boil_beer" novalidate (ngSubmit)="save(false)">
            <div class="container-fluid">
                <ul class="list-unstyled multi-steps">
                    <li class="{{beer.actualStep == 1 ? 'is-active': 'inactive'}}" (click)="goToProcess(1)">{{ "Mash" | localize }}</li>
                    <li class="{{beer.actualStep == 2 ? 'is-active': 'inactive'}} selected" (click)="goToProcess(2)">{{ "Boiling" | localize }}</li>
                    <li class="{{beer.actualStep == 3 ? 'is-active': 'inactive'}}" (click)="goToProcess(3)">{{ "Fermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 4 ? 'is-active': 'inactive'}}" (click)="goToProcess(4)">{{ "QuietFermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 5 ? 'is-active': 'inactive'}}" (click)="goToProcess(5)">{{ "Bottling" | localize }}</li>
                </ul>
            </div>
            <div class="row clearfix" >
                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('Boiling')}}
                                <div class="btn-brew-group pull-right">
                                    <button [disabled]="!breweryForm.form.valid || saving" type="submit" [value]="breweryForm.form.valid" class="btn btn-primary waves-effect" style="margin-right:10px">
                                        {{ "Save" | localize }}
                                    </button>
                                    <button [disabled]="!breweryForm.form.valid || saving || beer.actualStep > 2" type="button" class="btn btn-warning waves-effect" (click)="nextStep()">
                                        {{ "Fermentation" | localize }}
                                    </button>
                                </div>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="blgBeforeBoil" type="number" name="BlgBeforeBoil" [(ngModel)]="boilProcess.blg" required class="validate form-control">
                                            <label for="blgBeforeBoil" class="form-label">{{ "BlgBeforeBoil" | localize }}</label>
                                        </div>
                                    </div>
                                    <div class="form-float">
                                        <div class="form-line">
                                            <span for="boilWortSize" class="form-label">{{ "BoilWortSize" | localize }} <b>{{beer.beerRecipe.boilWortSize || "----"}}</b> L</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span style="color: #ff8400;">{{beer.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('Hops')}}
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix" style="margin-right:10px;margin-left:10px">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-4">{{l('HopName')}}</th>
                                            <th class="col-xs-2">{{l('Quantity')}}</th>
                                            <th class="col-xs-2">{{l('BoilingTime')}}</th>
                                            <th class="col-xs-2">{{l('AlphaAcids')}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of hopsUsedForRecipe; let in=index">
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].hop.name}}</span>
                                            </td>
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].quantity}}</span>
                                            </td>
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].boilingTimeInMinutes}}</span>
                                            </td>
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].customAlphaAcids}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>