﻿<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div #recipeContent class="body table-responsive">
            <form #createRecipeForm="ngForm"  id="frm_create_recipe" novalidate (ngSubmit)="save()">
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('WortSize')}}
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <div class="row clearfix">
                            <div class="col-sm-7">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="name" type="text" name="Name" [(ngModel)]="recipe.name" required class="validate form-control">
                                        <label for="name" class="form-label">{{ "BeerName" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="beerStyle" name="BeerStyle" [(ngModel)]="recipe.beerStyle.name" [typeahead]="styles" typeaheadOptionField="name" (typeaheadOnSelect)="onSelectStyle($event)"  class="validate form-control" autocomplete="off">
                                        <label for="beerStyle" class="form-label">{{ "BeerStyle" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="plannedBeerSize" type="number" name="PlannedBeerSize" [(ngModel)]="recipe.beerSize" required class="validate form-control" (ngModelChange)="beerSizeChanged($event)">
                                        <label for="plannedBeerSize" class="form-label">{{ "PlannedBeerSize" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="boilTimeInMin" type="number" name="BoilTimeInMin" [(ngModel)]="recipe.boilTimeInMin" [value]="recipe.boilTimeInMin"  required class="validate form-control" (ngModelChange)="recalculateBeerSize()">
                                        <label for="boilTimeInMin" class="form-label">{{ "BoilTimeInMin" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="evaporationRate" type="number" name="EvaporationRate" [(ngModel)]="recipe.evaporationRate" [value]="recipe.evaporationRate" required class="validate form-control" (ngModelChange)="recalculateBeerSize()">
                                        <label for="evaporationRate" class="form-label">{{ "EvaporationRate" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="lossesFromBoiling" type="number" name="LossesFromBoiling" [(ngModel)]="recipe.lossesFromBoiling" [value]="recipe.lossesFromBoiling" required class="validate form-control" (ngModelChange)="lossesBoilingChanged($event)">
                                        <label for="lossesFromBoiling" class="form-label">{{ "LossesFromBoiling" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="fermentationLosses" type="number" name="FermentationLosses" [(ngModel)]="recipe.fermentationLosses" [value]="recipe.fermentationLosses"  required class="validate form-control" (ngModelChange)="fermentationLossesChanged($event)">
                                        <label for="fermentationLosses" class="form-label">{{ "FermentationLosses" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="coldHopingLosses" type="number" name="ColdHopingLosses" [(ngModel)]="recipe.coldHopingLosses" [value]="recipe.coldHopingLosses" required class="validate form-control" (ngModelChange)="coldHopingLossesChanged($event)">
                                        <label for="coldHopingLosses" class="form-label">{{ "ColdHopingLosses" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="">
                                    <input id="boilWortSize" type="number" name="BoilWortSize" [(ngModel)]="recipe.boilWortSize" required class="validate form-control" style="display:none">
                                    <span for="boilWortSize" class="form-label">{{ "BoilWortSize" | localize }} <b>{{recipe.boilWortSize || "----"}}</b> L</span>
                                </div>
                                <div class="">
                                    <input id="wortBLGBeforeBoiling" type="number" name="WortBLGBeforeBoiling" [(ngModel)]="wortBLGBeforeBoiling" class="validate form-control" style="display:none">
                                    <span for="wortBLGBeforeBoiling" class="form-label">{{ "WortBLGBeforeBoiling" | localize }} <b>{{wortBLGBeforeBoiling || "----"}}</b> BLG</span>
                                </div>
                                <div class="">
                                    <input id="wortSizeAfterBoiling" type="number" name="WortSizeAfterBoiling" [(ngModel)]="wortSizeAfterBoiling" required class="validate form-control" style="display:none">
                                    <span for="wortSizeAfterBoiling" class="form-label">{{ "WortSizeAfterBoiling" | localize }} <b>{{wortSizeAfterBoiling || "----"}}</b> L</span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" *ngIf="recipe.beerStyle && recipe.beerStyle.srMmin">
                            <div class="col-sm-12">
                                <div class="form-line">
                                    <span class="form-label">{{ "BeerStyleParam" | localize }} <b>{{blgStyle.min || "----"}} -  {{blgStyle.max || "----"}} BLG, {{recipe.beerStyle.srMmin || "----"}} -  {{recipe.beerStyle.srMmax || "----"}} SRM </b></span>
                                </div>
                            </div>
                        </div>
                        <input id="blg" type="number" name="BLG" [(ngModel)]="recipe.blg" required class="validate form-control" style="display:none">
                        <input id="abv" type="number" name="ABV" [(ngModel)]="recipe.abv" required class="validate form-control" style="display:none">
                        <input id="srm" type="number" name="SRM" [(ngModel)]="recipe.srm" required class="validate form-control" style="display:none">
                        <div class="row clearfix"  *ngIf="recipe.blg && recipe.abv && recipe.srm">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-10">
                                <div class="mb-2">
                                    <progressbar [animate]="false" [value]="recipe.blg" type="blg"><b>{{recipe.blg}} BLG</b></progressbar>
                                </div>
                                <div class="mb-2">
                                    <progressbar [animate]="false" [value]="recipe.abv" type="abv"><b>{{recipe.abv}}%</b></progressbar>
                                </div>
                                <div class="mb-3">
                                    <progressbar [max]="50" [value]="recipe.srm" [type]="srmProgressType">{{recipe.srm}} SRM</progressbar>
                                </div>
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('FermentableIngredients')}}
                            <div class="btn btn-recipe btn-recipe-add" (click)="addIngredient()"><i class="fa fa-plus-circle icon-recipe icon-recipe-add"></i></div>
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <div class="row clearfix">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">{{l('IngredientName')}}</th>
                                        <th class="col-xs-2">{{l('Type')}}</th>
                                        <th class="col-xs-2">{{l('Quantity')}}</th>
                                        <th class="col-xs-2">{{l('Percentage')}}</th>
                                        <th class="col-xs-1">{{l('Yield')}}</th>
                                        <th class="col-xs-1">{{l('EBC')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ingredientsUsedForRecipe; let in=index">
                                        <td>
                                            <input id="ingredients{{in}}" name="Ingredient{{in}}" [(ngModel)]="ingredientsUsedForRecipe[in].ingredient.name" [typeahead]="allIngredients" typeaheadOptionField="name" class="validate form-control" (typeaheadOnSelect)="ingredientsUsedChanged($event, in)" placeholder="{{l('IngredientName')}}"  autocomplete="off">
                                        </td>
                                        <td>
                                            <input id="ingredientType{{in}}" name="IngredientType{{in}}" [ngModel]="getIngredientTypeValue(ingredientsUsedForRecipe[in].ingredient)" [typeahead]="ingredientTypes" [typeaheadMinLength]="0" class="validate form-control" typeaheadOptionField="name" placeholder="{{l('Type')}}" autocomplete="off">
                                        </td>
                                        <td>
                                            <div class="input-group-brew">
                                                <input type="number" id="ingredientQuantity{{in}}" name="ingredientQuantity{{in}}" [(ngModel)]="ingredientsUsedForRecipe[in].quantity" class="validate form-control form-control-with-name" (ngModelChange)="ingredientQuantityChanged($event, in)">
                                                <span class="input-group-addon time-addon"><small>kg</small></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group-brew">
                                                <input type="number" id="percentageSize{{in}}" name="PercentageSize{{in}}" [(ngModel)]="ingredientsUsedForRecipe[in].percentageSize" class="validate form-control form-control-with-name" readonly>
                                                <span class="input-group-addon time-addon"><small>%</small></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" id="yield{{in}}" name="Yield{{in}}" [(ngModel)]="ingredientsUsedForRecipe[in].customYield" class="validate form-control" (ngModelChange)="ingredientYieldChanged()">
                                        </td>
                                        <td>
                                            <input type="number" id="ebc{{in}}" name="EBC{{in}}" [(ngModel)]="ingredientsUsedForRecipe[in].customEBC" class="validate form-control" (ngModelChange)="ingredientEBCChanged($event, in)">
                                        </td>
                                        <td><div class="btn btn-recipe" (click)="remove(in)"><i class="fa fa-trash icon-recipe"></i></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('Mashing')}}
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="efficiency" type="number" name="Efficiency" [(ngModel)]="recipe.mashEfficiency" [value]="recipe.mashEfficiency"  required class="validate form-control" (ngModelChange)="mashEficiencyChanged()">
                                        <label for="efficiency" class="form-label">{{ "MashEfficiency" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="waterGrainRatio" type="number" name="WaterGrainRatio" [(ngModel)]="recipe.waterGrainRatio" [value]="recipe.waterGrainRatio"  required class="validate form-control" (ngModelChange)="waterGrainRatioChanged($event)">
                                        <label for="waterGrainRatio" class="form-label">{{ "WaterGrainRatio" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" *ngIf="waterQuantityToMash">
                            <div class="col-sm-12">
                                <div class="form-line">
                                    <span class="form-label">{{ "WaterMash" | localize }} <b>{{waterQuantityToMash}} L</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('Hoping')}}
                            <div class="btn btn-recipe btn-recipe-add" (click)="addHop()"><i class="fa fa-plus-circle icon-recipe icon-recipe-add"></i></div>
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <input id="ibu" type="number" name="IBU" [(ngModel)]="recipe.bitternessBalance" required class="validate form-control" style="display:none">
                        <div class="row clearfix"  *ngIf="recipe.bitternessBalance">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-10">
                                <div>
                                    <progressbar [max]="100" [value]="recipe.bitternessBalance" type="ibu">{{recipe.bitternessBalance}} IBU</progressbar>
                                </div>
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
                        <div class="row clearfix"  *ngIf="recipe.beerStyle">
                            <div class="col-sm-12">
                                <div class="form-line">
                                    <span class="form-label">{{ "BeerStyleParam" | localize }} <b>{{recipe.beerStyle.ibUmin|| "----"}} -  {{recipe.beerStyle.ibUmax || "----"}} IBU</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix"  *ngIf="recipe.bitternessBalance">
                            <div class="col-sm-12">
                                <div class="form-line">
                                    <span class="form-label">{{ "BitternesStadium" | localize }} {{bitternessStadium | localize}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">{{l('HoppingType')}}</th>
                                        <th class="col-xs-4">{{l('Name')}}</th>
                                        <th class="col-xs-2">{{l('Quanity')}}</th>
                                        <th class="col-xs-2">{{l('BoilingTime')}}</th>
                                        <th class="col-xs-2">{{l('AlphaAcids')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of hopsUsedForRecipe; let in=index">
                                        <td>
                                            <input id="hoppingType{{in}}" name="HoppingType{{in}}" [(ngModel)]="hopsUsedForRecipe[in].hoppingType" [typeahead]="hoppingTypes" [typeaheadMinLength]="0" class="validate form-control" typeaheadOptionField="name" placeholder="{{l('HoppingType')}}" autocomplete="off">
                                        </td>
                                        <td>
                                            <input id="hop{{in}}" name="Hop{{in}}" [(ngModel)]="hopsUsedForRecipe[in].hop.name" class="validate form-control recipe-hops" [typeahead]="hops" typeaheadOptionField="name" placeholder="{{l('Name')}}"  autocomplete="off" (typeaheadOnSelect)="hopSelected($event, in)">
                                        </td>
                                        <td>
                                            <div class="input-group-brew">
                                                <input type="number" id="hopQuantity{{in}}" name="hopQuantity{{in}}" [(ngModel)]="hopsUsedForRecipe[in].quantity" class="validate form-control form-control-with-name" (ngModelChange)="calculateIbu()">
                                                <span class="input-group-addon time-addon"><small>g</small></span>
                                            </div>                                        </td>
                                        <td>
                                            <div class="input-group-brew">
                                                <input type="number" id="boilingTimeInMinutes{{in}}" name="BoilingTimeInMinutes{{in}}" [(ngModel)]="hopsUsedForRecipe[in].boilingTimeInMinutes" class="validate form-control form-control-with-name" (ngModelChange)="calculateIbu()">
                                                <span class="input-group-addon time-addon"><small>{{hopsUsedForRecipe[in].hoppingType == "NaZimno"? "dni":"min"}}</small></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" id="alphaAcids{{in}}" name="AlphaAcids{{in}}" [(ngModel)]="hopsUsedForRecipe[in].customAlphaAcids" class="validate form-control" placeholder="{{l('AlphaAcids')}}" (ngModelChange)="calculateIbu()">
                                        </td>
                                        <td><div class="btn btn-recipe" (click)="removeHop(in)"><i class="fa fa-trash icon-recipe"></i></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card main-content">
                    <div class="body table-responsive">
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-default waves-effect">
                                {{ "Cancel" | localize }}
                            </button>
                            <button [disabled]="!createRecipeForm.form.valid || saving" type="submit" [value]="createRecipeForm.form.valid" class="btn btn-primary waves-effect">
                                {{ "Save" | localize }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>