<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div #beerMashContent class="body">
            <form *ngIf="active" #mashingBeerForm="ngForm"  id="frm_mash_beer" novalidate (ngSubmit)="save(false)">
                <div class="container-fluid">
                    <ul class="list-unstyled multi-steps">
                        <li class="{{beer.actualStep == 1 ? 'is-active': 'inactive'}} selected" (click)="goToProcess(1)">{{ "Mash" | localize }}</li>
                        <li class="{{beer.actualStep == 2 ? 'is-active': 'inactive'}}" (click)="goToProcess(2)">{{ "Boiling" | localize }}</li>
                        <li class="{{beer.actualStep == 3 ? 'is-active': 'inactive'}}" (click)="goToProcess(3)">{{ "Fermentation" | localize }}</li>
                        <li class="{{beer.actualStep == 4 ? 'is-active': 'inactive'}}" (click)="goToProcess(4)">{{ "QuietFermentation" | localize }}</li>
                        <li class="{{beer.actualStep == 5 ? 'is-active': 'inactive'}}" (click)="goToProcess(5)">{{ "Bottling" | localize }}</li>
                    </ul>
                </div>
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('Mash')}}
                            <div class="btn-brew-group pull-right">
                                <button [disabled]="!mashingBeerForm.form.valid || saving" type="submit" [value]="mashingBeerForm.form.valid" class="btn btn-primary waves-effect" style="margin-right:10px">
                                    {{ "Save" | localize }}
                                </button>
                                <button [disabled]="!mashingBeerForm.form.valid || saving || beer.actualStep > 1" type="button" class="btn btn-warning waves-effect" (click)="nextStep()">
                                    {{ "Boiling" | localize }}
                                </button>
                            </div>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="name" type="text" name="Name" [(ngModel)]="beer.name" required class="validate form-control">
                                                <label for="name" class="form-label">{{ "BeerName" | localize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="beerNumber" name="BeerNumber" [(ngModel)]="beer.beerNumber" required class="validate form-control">
                                                <label for="beerNumber" class="form-label">{{ "BeerNumber" | localize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="Date" name="Date" [(ngModel)]="mashProcess.date" required class="validate form-control" style="display: none;" >
                                                <ng-datepicker name="Date" [(ngModel)]="mashProcess.date" [options]="calendarOptions"></ng-datepicker>
                                                <label for="date" class="form-label">{{ "Date" | localize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="grainTemp" type="number" name="GrainTemp" [(ngModel)]="mashProcess.grainTemp" required class="validate form-control">
                                                <label for="grainTemp" class="form-label">{{ "GrainTemp" | localize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="lauteringTemp" type="number" name="LauteringTemp" [(ngModel)]="mashProcess.lauteringTemp" required class="validate form-control">
                                                <label for="lauteringTemp" class="form-label">{{ "LauteringTemp" | localize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-line">
                                    <div class="form-line">
                                        <textarea id="stepNote" name="Note" [(ngModel)]="mashProcess.note" class="validate form-control"></textarea>
                                        <label for="stepNote" class="form-label">{{ "Note" | localize }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                       <span style="color: #ff8400;">{{beer.name}}</span>
                    </div>
                </div>
                <div class="row clearfix" >
                    <div class="col-sm-6">
                        <div class="card main-content">
                            <div class="header">
                                <h2>
                                    {{l('MashSteps')}}
                                    <div class="btn btn-recipe btn-recipe-add" (click)="addMashStep()"><i class="fa fa-plus-circle icon-recipe icon-recipe-add"></i></div>
                                </h2>
                            </div>
                            <div class="body table-responsive">
                                <div class="row clearfix">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-5">{{l('Temperature')}}</th>
                                                <th class="col-xs-5">{{l('Time')}}</th>
                                                <th class="col-xs-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of mashSteps; let in=index">
                                                <td>
                                                    <input id="temp{{in}}" name="Temp{{in}}" [(ngModel)]="mashSteps[in].temperature"  class="validate form-control" type="number" placeholder="{{l('Temperature')}}" (ngModelChange)="mashTempChanged(in)">
                                                </td>
                                                <td>
                                                    <input id="time{{in}}" name="Time{{in}}" [(ngModel)]="mashSteps[in].timeInMin" type="number" class="validate form-control" placeholder="{{l('Time')}}">
                                                </td>
                                                <td><div class="btn btn-recipe" (click)="remove(in)"><i class="fa fa-trash icon-recipe"></i></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card main-content">
                            <div class="header">
                                <h2>
                                    {{l('MashInfo')}}
                                </h2>
                            </div>
                            <div class="body table-responsive">
                                <div class="row clearfix" style="margin-right:10px;margin-left:10px">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-4">{{l('IngredientName')}}</th>
                                                <th class="col-xs-2">{{l('Quantity')}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of ingredientsUsedForRecipe; let in=index">
                                                <td>
                                                    <span>{{ingredientsUsedForRecipe[in].ingredient.name}}</span>
                                                </td>
                                                <td>
                                                    <span>{{ingredientsUsedForRecipe[in].quantity}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row" style="margin-right:10px;margin-left:10px">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="pull-right">
                                                <strong>{{waterMashQuantity}}</strong>
                                            </div>
                                            <div>{{l('WaterMashQuantity')}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>