<div class="row clearfix" [@routerTransition]>
    <div #quietFermentationContent class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form *ngIf="active" #quietBeerForm="ngForm"  id="frm_quiet_beer" novalidate (ngSubmit)="save(false)">
            <div class="container-fluid">
                <ul class="list-unstyled multi-steps">
                    <li class="{{beer.actualStep == 1 ? 'is-active': 'inactive'}}" (click)="goToProcess(1)">{{ "Mash" | localize }}</li>
                    <li class="{{beer.actualStep == 2 ? 'is-active': 'inactive'}}" (click)="goToProcess(2)">{{ "Boiling" | localize }}</li>
                    <li class="{{beer.actualStep == 3 ? 'is-active': 'inactive'}}" (click)="goToProcess(3)">{{ "Fermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 4 ? 'is-active': 'inactive'}} selected" (click)="goToProcess(4)">{{ "QuietFermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 5 ? 'is-active': 'inactive'}}" (click)="goToProcess(5)">{{ "Bottling" | localize }}</li>
                </ul>
            </div>
            <div class="row clearfix" >
                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('QuietFermentation')}}
                                <div class="btn-brew-group pull-right">
                                    <button [disabled]="!quietBeerForm.form.valid || saving" type="submit" [value]="quietBeerForm.form.valid" class="btn btn-primary waves-effect" style="margin-right:10px">
                                        {{ "Save" | localize }}
                                    </button>
                                    <button [disabled]="!quietBeerForm.form.valid || saving || beer.actualStep > 4" type="button" class="btn btn-warning waves-effect" (click)="nextStep(false)">
                                        {{ "Bottling" | localize }}
                                    </button>
                                </div>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <ng-datepicker name="DateOfHopsAdded" [(ngModel)]="qFermentation.hopsAddDate" [options]="{displayFormat:'YYYY-MM-DD', locale: enLocale, useEmptyBarTitle: false, firstCalendarDay: 1,addClass: 'validate form-control', fieldId: 'dateOfHopsAdded' }"></ng-datepicker>
                                                    <label for="dateOfHopsAdded" class="form-label">{{ "DateOfHopsAdded" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="blgBeforeSilentFermentation" type="number" name="BlgBeforeSilentFermentation" [(ngModel)]="qFermentation.blg" class="validate form-control">
                                                    <label for="blgBeforeSilentFermentation" class="form-label">{{ "BlgBeforeSilentFermentation" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <ng-datepicker name="DateOfSilentFermentation" [(ngModel)]="qFermentation.date" [options]="{displayFormat:'YYYY-MM-DD', locale: enLocale, useEmptyBarTitle: false, firstCalendarDay: 1,addClass: 'validate form-control', fieldId: 'dateOfSilentFermentation' }"></ng-datepicker>
                                                    <label for="dateOfSilentFermentation" class="form-label">{{ "DateOfSilentFermentation" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-line">
                                                <span class="form-label">{{ "PrognosedBLG" | localize }} <b>{{beer.beerRecipe.blg}}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span style="color: #ff8400;">{{beer.name}}</span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('Hops')}}
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix" style="margin-right:10px;margin-left:10px">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-4">{{l('HopName')}}</th>
                                            <th class="col-xs-2">{{l('Quantity')}}</th>
                                            <th class="col-xs-2">{{l('BoilingTime')}}</th>
                                            <th class="col-xs-2">{{l('AlphaAcids')}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of hopsUsedForRecipe; let in=index">
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].hop.name}}</span>
                                            </td>
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].quantity}}</span>
                                            </td>
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].boilingTimeInMinutes}}</span>
                                            </td>
                                            <td>
                                                <span>{{hopsUsedForRecipe[in].customAlphaAcids}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>