﻿<div bsModal #createIngredientModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createIngredientModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">

            <form *ngIf="active" #createIngredientForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{ "CreateNewIngredient" | localize }}</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#ingredient-details" data-toggle="tab">Ingredient Details</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="ingredient-details">

                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="name" type="text" name="Name" [(ngModel)]="ingredient.name" required minlength="2" class="validate form-control">
                                            <label for="name" class="form-label">{{ "Name" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <textarea id="desscription" type="textarea" name="Desscription" [(ngModel)]="ingredient.desscription" class="validate form-control"></textarea>
                                            <label for="desscription" class="form-label">{{ "Desscription" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <select name="IngredientType" id="ingredientType" [(ngModel)]="ingredient.ingredientType"  class="validate form-control">
                                                <option *ngFor="let key of typeKeys" [value]="key">{{types[key]}}</option>
                                            </select>
                                            <label for="ingredientType" class="form-label">{{ "IngredientType" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="ebc" type="number" name="EBC" [(ngModel)]="ingredient.ebc" required class="validate form-control">
                                            <label for="ebc" class="form-label">{{ "EBC" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="yield" type="number" name="Yield" [(ngModel)]="ingredient.yield" required class="validate form-control">
                                            <label for="yield" class="form-label">{{ "Yield" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="protein" type="number" name="Protein" class="validate form-control" [(ngModel)]="ingredient.protein" maxlength="32">
                                            <label for="protein" class="form-label">{{ "Protein" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="moisture" type="number" name="Moisture" class="validate form-control" [(ngModel)]="ingredient.moisture" maxlength="32">
                                            <label for="moisture" class="form-label">{{ "Moisture" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="supplier" type="supplier" name="Supplier" [(ngModel)]="ingredient.supplier" class="validate form-control">
                                            <label for="supplier" class="form-label">{{ "Supplier" | localize }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{ "Cancel" | localize }}
                    </button>
                    <button [disabled]="!createIngredientForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{ "Save" | localize }}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
