/* General */

.clickable-item {
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

/* Portlet */
.portlet.light > .portlet-title .inputs.inputs-full-width {
    display: block;
    float: none;
}

.famfamfam-flags {
    display: inline-block;
}

topbar-languageswitch {
    float: left;
    margin-top: 25px;
    margin-left: 10px;

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.swal-footer {
     text-align: center;
}

.ngx-table__header-search {
    height: 2.47rem !important;
    font-size: inherit !important;
}

.ngx-pagination .ellipsis::after {
    display: none;
}

.ngx-table__header-cell > div {
    text-align: left !important;
}

//recipe create
.progress-bar-SRM1 {
    background-color: #f8f5b1 !important;
}
.progress-bar-SRM2 {
    background-color: #fae162 !important;
}
.progress-bar-SRM3 {
    background-color: #f5cf43 !important;
}
.progress-bar-SRM4 {
    background-color: #f3bf20 !important;
}
.progress-bar-SRM5 {
    background-color: #efad00 !important;
}
.progress-bar-SRM6 {
    background-color: #e79d00 !important;
}
.progress-bar-SRM7 {
    background-color: #e18f00 !important;
}
.progress-bar-SRM8 {
    background-color: #d88000 !important;
}
.progress-bar-SRM9 {
    background-color: #d17300 !important;
}
.progress-bar-SRM10 {
    background-color: #bf590a !important;
}
.progress-bar-SRM11 {
    background-color: #c56205 !important;
}
.progress-bar-SRM12 {
    background-color: #ca6b01 !important;
}
.progress-bar-SRM13 {
    background-color: #b95209 !important;
}
.progress-bar-SRM14 {
    background-color: #af4408 !important;
}
.progress-bar-SRM15 {
    background-color: #b04809 !important;
}
.progress-bar-SRM16 {
    background-color: #af4408 !important;
}
.progress-bar-SRM17 {
    background-color: #a93d06 !important;
}
.progress-bar-SRM18 {
    background-color: #a43908 !important;
}
.progress-bar-SRM19 {
    background-color: #9f3408 !important;
}
.progress-bar-SRM20 {
    background-color: #99300b !important;
}
.progress-bar-SRM21 {
    background-color: #942a09 !important;
}
.progress-bar-SRM22 {
    background-color: #8e260d !important;
}
.progress-bar-SRM23 {
    background-color: #89250e !important;
}
.progress-bar-SRM24 {
    background-color: #842209 !important;
}
.progress-bar-SRM25 {
    background-color: #7e2007 !important;
}
.progress-bar-SRM26 {
    background-color: #781e07 !important;
}
.progress-bar-SRM27 {
    background-color: #741c04 !important;
}
.progress-bar-SRM28 {
    background-color: #711705 !important;
}
.progress-bar-SRM29 {
    background-color: #6b1505 !important;
}
.progress-bar-SRM30 {
    background-color: #681006 !important;
}
.progress-bar-SRM31 {
    background-color: #640e05 !important;
}
.progress-bar-SRM32 {
    background-color: #600d06 !important;
}
.progress-bar-SRM33 {
    background-color: #5c0a05 !important;
}
.progress-bar-SRM34 {
    background-color: #590707 !important;
}
.progress-bar-SRM35 {
    background-color: #540708 !important;
}
.progress-bar-SRM36 {
    background-color: #4c0809 !important;
}
.progress-bar-SRM37 {
    background-color: #460a08 !important;
}
.progress-bar-SRM38 {
    background-color: #410b0d !important;
}
.progress-bar-SRM39 {
    background-color: #3d0a0d !important;
}
.progress-bar-SRM40 {
    background-color: #250a0b !important;
}
.progress .progress-bar {
    background-color: #ebb31b;
    border-radius: 5px;
}
.progress {
    border-radius: 5px;
}
.progress-bar-blg {
    background-color: #eb3a1b !important;
}
.progress-bar-abv {
    background-color: #0088aa !important;
}
.progress-bar-ibu {
    background-color: #0aac04 !important;
}

.icon-recipe {
    color: #fd8400;
}
.icon-recipe-add {
    top: -8px !important;
}
.btn-recipe:not(.btn-link):not(.btn-circle) {
    box-shadow: none;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
}
.btn:not(.btn-link):not(.btn-circle) i {
    font-size: 20px;
    position: relative;
    top: 0px;
}
.btn-recipe-add:not(.btn-link):not(.btn-circle) i {
    font-size: 25px;
}
.btn-recipe-add {
    float: right;
}
//recipe create

//recipe

.box-heading {
    text-transform: uppercase;
    position: relative;
    max-width: 100%;
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin: 0 0 15px;
    padding-bottom: 2px;
}
h1.box-heading, h2.box-heading, h3.box-heading, h4.box-heading, h5.box-heading, h6.box-heading {
    font-size: 15px;
}
.recipe .list-group-item{
    padding: 10px 5px;
    margin-left: -5px;
    margin-right: -5px;
    border-right: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-brew {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-control-with-name {
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}

.warehouse-info {
    color: red;
}

.ng-star-inserted > em {
    color: red;
    font-weight: bold;
}

.btn-srm-1 > svg > #brew-icon > path.brew-srm {
    fill: #f8f5b1 !important;
}
.btn-srm-2 {
    fill: #fae162 !important;
}
.btn-srm-3 > svg > #brew-icon > path.brew-srm {
    fill: #f5cf43 !important;
}
.btn-srm-4 > svg > #brew-icon > path.brew-srm {
    fill: #f3bf20 !important;
}
.btn-srm-5 > svg > #brew-icon > path.brew-srm {
    fill: #efad00 !important;
}
.btn-srm-6 > svg > #brew-icon > path.brew-srm {
    fill: #e79d00 !important;
}
.btn-srm-7 > svg > #brew-icon > path.brew-srm {
    fill: #e18f00 !important;
}
.btn-srm-8 > svg > #brew-icon > path.brew-srm {
    fill: #d88000 !important;
}
.btn-srm-9 > svg > #brew-icon > path.brew-srm {
    fill: #d17300 !important;
}
.btn-srm-10 > svg > #brew-icon > path.brew-srm {
    fill: #bf590a !important;
}
.btn-srm-11 > svg > #brew-icon > path.brew-srm {
    fill: #c56205 !important;
}
.btn-srm-12 > svg > #brew-icon > path.brew-srm {
    fill: #ca6b01 !important;
}
.btn-srm-13 > svg > #brew-icon > path.brew-srm {
    fill: #b95209 !important;
}
.btn-srm-14 > svg > #brew-icon > path.brew-srm {
    fill: #af4408 !important;
}
.btn-srm-15 > svg > #brew-icon > path.brew-srm {
    fill: #b04809 !important;
}
.btn-srm-16 > svg > #brew-icon > path.brew-srm {
    fill: #af4408 !important;
}
.btn-srm-17 > svg > #brew-icon > path.brew-srm {
    fill: #a93d06 !important;
}
.btn-srm-18 > svg > #brew-icon > path.brew-srm {
    fill: #a43908 !important;
}
.btn-srm-19 > svg > #brew-icon > path.brew-srm {
    fill: #9f3408 !important;
}
.btn-srm-20 > svg > #brew-icon > path.brew-srm {
    fill: #99300b !important;
}
.btn-srm-21 > svg > #brew-icon > path.brew-srm {
    fill: #942a09 !important;
}
.btn-srm-22 > svg > #brew-icon > path.brew-srm {
    fill: #8e260d !important;
}
.btn-srm-23 > svg > #brew-icon > path.brew-srm {
    fill: #89250e !important;
}
.btn-srm-24 > svg > #brew-icon > path.brew-srm {
    fill: #842209 !important;
}
.btn-srm-25 > svg > #brew-icon > path.brew-srm {
    fill: #7e2007 !important;
}
.btn-srm-26 > svg > #brew-icon > path.brew-srm {
    fill: #781e07 !important;
}
.btn-srm-27 > svg > #brew-icon > path.brew-srm {
    fill: #741c04 !important;
}
.btn-srm-28 > svg > #brew-icon > path.brew-srm {
    fill: #711705 !important;
}
.btn-srm-29 > svg > #brew-icon > path.brew-srm {
    fill: #6b1505 !important;
}
.btn-srm-30 > svg > #brew-icon > path.brew-srm {
    fill: #681006 !important;
}
.btn-srm-31 > svg > #brew-icon > path.brew-srm {
    fill: #640e05 !important;
}
.btn-srm-32 > svg > #brew-icon > path.brew-srm {
    fill: #600d06 !important;
}
.btn-srm-33 > svg > #brew-icon > path.brew-srm {
    fill: #5c0a05 !important;
}
.btn-srm-34 > svg > #brew-icon > path.brew-srm {
    fill: #590707 !important;
}
.btn-srm-35 > svg > #brew-icon > path.brew-srm {
    fill: #540708 !important;
}
.btn-srm-36 > svg > #brew-icon > path.brew-srm {
    fill: #4c0809 !important;
}
.btn-srm-37 > svg > #brew-icon > path.brew-srm {
    fill: #460a08 !important;
}
.btn-srm-38 > svg > #brew-icon > path.brew-srm {
    fill: #410b0d !important;
}
.btn-srm-39 > svg > #brew-icon > path.brew-srm {
    fill: #3d0a0d !important;
}
.btn-srm-40 > svg > #brew-icon > path.brew-srm {
    fill: #250a0b !important;
}
// recipe


//beer
.ngx-datepicker-calendar-container {
    z-index: 9;
}
.ngx-datepicker-input{
    border: none !important;
    width: 100% !important;
}

.brewery-box {
    width: 30%;
    margin: 1rem;
}

.beer-srm1 {
    border-right-color: #f8f5b1 !important;
}
.beer-srm2 {
    border-right-color: #fae162 !important;
}
.beer-srm3 {
    border-right-color: #f5cf43 !important;
}
.beer-srm4 {
    border-right-color: #f3bf20 !important;
}
.beer-srm5 {
    border-right-color: #efad00 !important;
}
.beer-srm6 {
    border-right-color: #e79d00 !important;
}
.beer-srm7 {
    border-right-color: #e18f00 !important;
}
.beer-srm8 {
    border-right-color: #d88000 !important;
}
.beer-srm9 {
    border-right-color: #d17300 !important;
}
.beer-srm10 {
    border-right-color: #bf590a !important;
}
.beer-srm11 {
    border-right-color: #c56205 !important;
}
.beer-srm12 {
    border-right-color: #ca6b01 !important;
}
.beer-srm13 {
    border-right-color: #b95209 !important;
}
.beer-srm14 {
    border-right-color: #af4408 !important;
}
.beer-srm15 {
    border-right-color: #b04809 !important;
}
.beer-srm16 {
    border-right-color: #af4408 !important;
}
.beer-srm17 {
    border-right-color: #a93d06 !important;
}
.beer-srm18 {
    border-right-color: #a43908 !important;
}
.beer-srm19 {
    border-right-color: #9f3408 !important;
}
.beer-srm20 {
    border-right-color: #99300b !important;
}
.beer-srm21 {
    border-right-color: #942a09 !important;
}
.beer-srm22 {
    border-right-color: #8e260d !important;
}
.beer-srm23 {
    border-right-color: #89250e !important;
}
.beer-srm24 {
    border-right-color: #842209 !important;
}
.beer-srm25 {
    border-right-color: #7e2007 !important;
}
.beer-srm26 {
    border-right-color: #781e07 !important;
}
.beer-srm27 {
    border-right-color: #741c04 !important;
}
.beer-srm28 {
    border-right-color: #711705 !important;
}
.beer-srm29 {
    border-right-color: #6b1505 !important;
}
.beer-srm30 {
    border-right-color: #681006 !important;
}
.beer-srm31 {
    border-right-color: #640e05 !important;
}
.beer-srm32 {
    border-right-color: #600d06 !important;
}
.beer-srm33 {
    border-right-color: #5c0a05 !important;
}
.beer-srm34 {
    border-right-color: #590707 !important;
}
.beer-srm35 {
    border-right-color: #540708 !important;
}
.beer-srm36 {
    border-right-color: #4c0809 !important;
}
.beer-srm37 {
    border-right-color: #460a08 !important;
}
.beer-srm38 {
    border-right-color: #410b0d !important;
}
.beer-srm39 {
    border-right-color: #3d0a0d !important;
}
.beer-srm40 {
    border-right-color: #250a0b !important;
}
//beer

//nav beer step

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
	 content: counter(stepNum);
	 font-family: inherit;
	 font-weight: 700;
}
 .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
	 background-color: #ededed;
}
 .multi-steps {
	 display: table;
	 table-layout: fixed;
	 width: 100%;
}
 .multi-steps > li {
	 counter-increment: stepNum;
	 text-align: center;
	 display: table-cell;
	 position: relative;
     color: tomato;
     z-index: 2;
}
 .multi-steps > li:before {
	 content: '\f00c';
	 content: '\2713';
	 content: '\10003';
	 content: '\10004';
	 content: '\2713';
	 display: block;
	 margin: 0 auto 4px;
	 background-color: #fff;
	 width: 36px;
	 height: 36px;
	 line-height: 32px;
	 text-align: center;
	 font-weight: bold;
	 border-width: 2px;
	 border-style: solid;
	 border-color: tomato;
     border-radius: 50%;
     cursor: pointer;
}
 .multi-steps > li:after {
	 content: '';
	 height: 2px;
	 width: 100%;
	 background-color: tomato;
	 position: absolute;
	 top: 16px;
	 left: 50%;
	 z-index: -1;
}
 .multi-steps > li:last-child:after {
	 display: none;
}
 .multi-steps > li.is-active:before {
	 background-color: #fff;
	 border-color: tomato;
}
 .multi-steps > li.is-active ~ li {
	 color: #808080;
}
 .multi-steps > li.is-active ~ li:before {
	 background-color: #ededed;
	 border-color: #ededed;
}

.multi-steps > li.selected:before {
    background-color: #ffcc95;
}

 //nav beer step

.form-group .form-line:after {
    border-bottom: 2px solid #fd8400;
}

.list-group-item {
    border-right: 0;
    border-left: 0;
}