<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Beers')}}
                </h2>
            </div>
        </div>

        <div class="card main-content recipe col-lg-3 col-md-6 col-sm-6 col-xs-12 brewery-box" *ngFor="let beer of beers; let in=index" style="padding:0;">
            <div class="body beer-srm{{roundSRM(beer.beerRecipe.srm)}}" style="border-right: 5px solid;">
                <h2 class="box-heading">
                    <strong><a (click)="goToCurrentStage(in)">{{beer.name}}</a></strong>
                    <span class="pull-right" (click)="remove(beer)" style="cursor: pointer;"><i class="fa fa-trash icon-recipe"></i></span>
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong *ngIf="beer.actualStep <= 5">{{steps[beer.actualStep]}}</strong>
                            <strong *ngIf="beer.actualStep > 5">{{l('Finished')}}</strong>
                        </div>
                        <div>{{l('ActualStep')}}</div>
                    </li>
                    <li class="list-group-item" *ngIf="beer.bottlingDate">
                        <div class="pull-right">
                            <strong>{{beer.bottlingDate.format('YYYY-MM-DD')}}</strong>
                        </div>
                        <div>{{l('BottlingDate')}}</div>
                    </li>
                    <li class="list-group-item" *ngIf="beer.blg">
                        <div class="pull-right">
                            <strong>{{beer.blg}}</strong>
                        </div>
                        <div>{{l('BLG')}}</div>
                    </li>
                    <li class="list-group-item" *ngIf="beer.beerNumber">
                        <div class="pull-right">
                            <strong>{{beer.beerNumber}}</strong>
                        </div>
                        <div>{{l('BeerNumber')}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>