<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row clearfix">
            <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createRecipe()" style="top:-15px">
                <i class="material-icons">add</i>
            </button>
        </div>

        <div class="card main-content recipe col-lg-3 col-md-6 col-sm-6 col-xs-12 brewery-box" *ngFor="let recipe of recipes" style="padding:0;">
            <div class="body">
                <h2 class="box-heading btn-srm-{{roundSRM(recipe.srm)}}" style="text-align:center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="35px" version="1.1" viewBox="-48 0 564 564.51509" width="35px" class="pull-left" style="margin-top:-10px">
                        <g id="brew-icon">
                        <path d="M 11.472656 257.050781 L 11.472656 363.460938 C 11.472656 378.648438 16.136719 428.542969 76.554688 428.542969 L 123.089844 428.542969 L 123.089844 377.886719 L 96.082031 377.886719 C 77.085938 379.386719 60.480469 365.199219 58.984375 346.214844 C 58.84375 344.414062 58.84375 342.601562 58.984375 340.792969 L 58.984375 279.722656 C 57.488281 260.730469 71.675781 244.121094 90.65625 242.625 C 92.457031 242.484375 94.269531 242.484375 96.082031 242.625 L 122.765625 242.625 L 122.765625 192.296875 L 76.230469 192.296875 C 16.136719 192.292969 11.472656 241.863281 11.472656 257.050781 Z M 11.472656 257.050781 " style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" />
                        <path d="M 403.59375 64.621094 C 399.800781 64.621094 395.894531 64.621094 391.664062 65.382812 L 391.664062 63.753906 C 390.902344 33.804688 366.019531 10.148438 336.082031 10.90625 C 319.097656 11.332031 303.300781 19.695312 293.386719 33.492188 C 274.082031 11.144531 240.3125 8.671875 217.957031 27.980469 C 217.035156 28.773438 216.144531 29.597656 215.289062 30.453125 C 208.964844 23.957031 200.277344 20.3125 191.207031 20.367188 C 179.667969 20.214844 168.839844 25.929688 162.464844 35.550781 C 154.664062 31.210938 145.890625 28.933594 136.972656 28.933594 C 107.023438 28.933594 82.738281 53.222656 82.738281 83.171875 C 82.738281 113.121094 107.023438 137.40625 136.972656 137.40625 C 141.484375 137.363281 145.964844 136.746094 150.3125 135.5625 C 169.394531 158.113281 203.128906 160.921875 225.679688 141.855469 C 227.132812 140.628906 228.511719 139.328125 229.824219 137.949219 C 239.695312 143.46875 251.734375 143.46875 261.605469 137.949219 C 277.289062 163.050781 310.339844 170.683594 335.441406 155 C 342.535156 150.574219 348.480469 144.542969 352.828125 137.40625 C 363.070312 165.554688 394.199219 180.066406 422.347656 169.816406 C 450.496094 159.578125 465.011719 128.445312 454.757812 100.296875 C 446.90625 78.734375 426.328125 64.4375 403.375 64.613281 Z M 403.59375 64.621094 " style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" />
                        <path class="brew-srm" d="M 434.402344 508.269531 L 421.386719 495.253906 L 421.386719 171.25 L 409.453125 172.550781 C 407.5 172.660156 405.546875 172.660156 403.59375 172.550781 C 386.371094 172.347656 370.261719 163.972656 360.207031 149.988281 L 353.046875 140.011719 L 344.046875 148.363281 C 322.382812 168.527344 288.476562 167.300781 268.3125 145.640625 C 267.726562 145.011719 267.148438 144.359375 266.597656 143.699219 L 262.042969 138.382812 L 255.316406 140.335938 C 248.9375 142.136719 242.171875 141.953125 235.902344 139.792969 L 230.152344 137.839844 L 225.488281 141.746094 C 215.910156 149.835938 203.75 154.261719 191.210938 154.21875 C 177.425781 154.207031 164.179688 148.882812 154.222656 139.359375 L 150.316406 135.671875 L 145 136.539062 C 142.386719 136.972656 139.742188 137.199219 137.082031 137.1875 L 122.765625 136.539062 L 122.765625 495.359375 L 109.75 508.375 C 102.730469 508.429688 97.011719 514.050781 96.839844 521.066406 L 96.839844 541.132812 C 96.839844 548.324219 102.664062 554.152344 109.855469 554.152344 L 434.402344 554.152344 C 441.59375 554.152344 447.417969 548.324219 447.417969 541.132812 L 447.417969 521.066406 C 447.296875 513.964844 441.507812 508.269531 434.402344 508.269531 Z M 434.402344 508.269531 " style=" stroke:none;fill-rule:nonzero;fill:rgb(99.607843%,81.176471%,21.568627%);fill-opacity:1;" />
                        <path d="M 76.230469 439.066406 L 111.917969 439.066406 L 111.917969 490.804688 L 104.757812 497.964844 C 93.878906 500.339844 86.089844 509.929688 85.992188 521.070312 L 85.992188 541.136719 C 85.992188 554.316406 96.675781 565 109.855469 565 L 434.402344 565 C 447.582031 565 458.265625 554.316406 458.265625 541.136719 L 458.265625 521.070312 C 458.265625 509.855469 450.453125 500.144531 439.5 497.75 L 432.339844 490.589844 L 432.339844 177 C 464.394531 160.738281 477.203125 121.570312 460.945312 89.519531 C 449.652344 67.25 426.601562 53.40625 401.644531 53.886719 C 395.449219 18.480469 361.738281 -5.210938 326.320312 0.984375 C 313.648438 3.195312 301.9375 9.109375 292.628906 17.980469 C 269.925781 0.8125 238.753906 0.191406 215.398438 16.464844 C 197.578125 4.519531 173.789062 6.886719 158.667969 22.105469 C 151.746094 19.4375 144.390625 18.035156 136.972656 17.984375 C 101.027344 18.308594 72.160156 47.703125 72.484375 83.652344 C 72.714844 109.425781 88.140625 132.636719 111.808594 142.832031 L 111.808594 181.339844 L 76.226562 181.339844 C 20.476562 181.339844 0.300781 222.015625 0.300781 257.269531 L 0.300781 363.679688 C 0.625 398.28125 20.476562 439.066406 76.230469 439.066406 Z M 93.585938 83.0625 C 93.585938 59.101562 113.011719 39.675781 136.972656 39.675781 C 143.960938 39.71875 150.816406 41.507812 156.933594 44.882812 C 161.878906 47.550781 168.050781 46 171.140625 41.300781 C 178.617188 30.519531 193.410156 27.828125 204.191406 35.304688 C 205.320312 36.085938 206.382812 36.976562 207.371094 37.941406 C 209.378906 40.054688 212.152344 41.257812 215.074219 41.304688 C 217.957031 41.25 220.722656 40.175781 222.882812 38.265625 C 239.566406 21.660156 266.5625 21.714844 283.171875 38.40625 C 283.898438 39.132812 284.589844 39.882812 285.253906 40.652344 C 287.433594 43.136719 290.621094 44.503906 293.929688 44.339844 C 297.226562 44.15625 300.265625 42.472656 302.175781 39.785156 C 316.210938 20.367188 343.339844 15.996094 362.753906 30.03125 C 373.65625 37.917969 380.296875 50.414062 380.707031 63.863281 C 380.707031 63.863281 380.707031 65.382812 380.707031 65.816406 C 380.554688 71.804688 385.296875 76.785156 391.285156 76.925781 C 392.171875 76.945312 393.074219 76.859375 393.941406 76.664062 C 417.261719 71.144531 440.636719 85.558594 446.171875 108.878906 C 451.691406 132.203125 437.277344 155.578125 413.953125 161.109375 C 392.488281 166.195312 370.621094 154.375 363.136719 133.621094 C 361.703125 129.71875 358.15625 126.984375 354.023438 126.570312 L 352.9375 126.570312 C 349.1875 126.5625 345.703125 128.492188 343.71875 131.671875 C 331.277344 151.800781 304.875 158.027344 284.742188 145.585938 C 279.082031 142.09375 274.320312 137.320312 270.828125 131.671875 C 267.605469 126.90625 261.238281 125.476562 256.292969 128.417969 C 249.578125 132.289062 241.3125 132.289062 234.597656 128.417969 C 230.3125 126.0625 224.984375 126.855469 221.582031 130.367188 C 205.113281 147.191406 178.128906 147.484375 161.292969 131.019531 C 160.371094 130.117188 159.492188 129.175781 158.667969 128.199219 C 156 125.085938 151.800781 123.742188 147.820312 124.726562 C 144.285156 125.703125 140.640625 126.214844 136.972656 126.246094 C 113.097656 126.234375 93.703125 106.9375 93.585938 83.0625 Z M 117.449219 515.972656 L 130.464844 502.953125 C 132.492188 500.90625 133.632812 498.140625 133.609375 495.253906 L 133.609375 148.144531 L 137.082031 148.144531 C 140.316406 148.125 143.546875 147.832031 146.734375 147.277344 C 158.753906 158.644531 174.667969 165 191.210938 165.066406 C 206.089844 165.089844 220.519531 159.902344 231.996094 150.421875 C 240.324219 153.285156 249.328125 153.558594 257.808594 151.183594 C 280.773438 178.363281 321.429688 181.792969 348.609375 158.832031 C 349.425781 158.148438 350.214844 157.441406 350.988281 156.714844 C 363.15625 173.59375 382.671875 183.636719 403.488281 183.726562 C 405.839844 183.84375 408.183594 183.84375 410.539062 183.726562 L 410.539062 495.359375 C 410.515625 498.246094 411.65625 501.011719 413.683594 503.0625 L 426.699219 516.078125 C 428.75 518.109375 431.515625 519.246094 434.402344 519.226562 C 435.59375 519.226562 436.570312 520.199219 436.570312 521.394531 L 436.570312 541.460938 C 436.570312 542.65625 435.59375 543.632812 434.402344 543.632812 L 109.855469 543.632812 C 108.664062 543.632812 107.6875 542.65625 107.6875 541.460938 L 107.6875 521.070312 C 107.6875 519.875 108.664062 518.898438 109.855469 518.898438 C 112.675781 518.941406 115.398438 517.890625 117.449219 515.972656 Z M 111.917969 367.039062 L 96.082031 367.039062 C 82.976562 368.429688 71.21875 358.9375 69.832031 345.832031 C 69.65625 344.164062 69.65625 342.472656 69.832031 340.789062 L 69.832031 279.71875 C 68.441406 266.617188 77.933594 254.859375 91.039062 253.46875 C 92.707031 253.296875 94.398438 253.296875 96.082031 253.46875 L 111.917969 253.46875 Z M 22.320312 257.050781 C 22.320312 240.890625 27.527344 202.816406 76.554688 202.816406 L 112.242188 202.816406 L 112.242188 231.453125 L 96.082031 231.453125 C 71.207031 229.847656 49.742188 248.699219 48.136719 273.570312 C 48.007812 275.511719 48.007812 277.453125 48.136719 279.394531 L 48.136719 340.464844 C 46.53125 365.335938 65.382812 386.804688 90.253906 388.410156 C 92.195312 388.539062 94.140625 388.539062 96.082031 388.410156 L 111.917969 388.410156 L 111.917969 417.046875 L 76.230469 417.046875 C 27.636719 417.046875 21.996094 379.40625 21.996094 362.808594 Z M 22.320312 257.050781 " style=" stroke:none;fill-rule:nonzero;fill:rgb(20.784314%,21.960784%,26.666667%);fill-opacity:1;" />
                        <path d="M 342.308594 431.253906 C 348.296875 431.253906 353.15625 426.394531 353.15625 420.40625 L 353.15625 222.121094 C 353.15625 216.136719 348.296875 211.277344 342.308594 211.277344 C 336.320312 211.277344 331.460938 216.132812 331.460938 222.121094 L 331.460938 420.40625 C 331.460938 426.394531 336.320312 431.253906 342.308594 431.253906 Z M 342.308594 431.253906 " style=" stroke:none;fill-rule:nonzero;fill:rgb(20.784314%,21.960784%,26.666667%);fill-opacity:1;" />
                        <path d="M 270.394531 431.253906 C 276.378906 431.253906 281.242188 426.394531 281.242188 420.40625 L 281.242188 222.121094 C 281.242188 216.136719 276.382812 211.277344 270.394531 211.277344 C 264.40625 211.277344 259.546875 216.132812 259.546875 222.121094 L 259.546875 420.40625 C 259.546875 426.394531 264.40625 431.253906 270.394531 431.253906 Z M 270.394531 431.253906 " style=" stroke:none;fill-rule:nonzero;fill:rgb(20.784314%,21.960784%,26.666667%);fill-opacity:1;" />
                        <path d="M 198.367188 431.253906 C 204.355469 431.253906 209.214844 426.394531 209.214844 420.40625 L 209.214844 222.121094 C 209.214844 216.136719 204.355469 211.277344 198.367188 211.277344 C 192.382812 211.277344 187.519531 216.132812 187.519531 222.121094 L 187.519531 420.40625 C 187.519531 426.394531 192.382812 431.253906 198.367188 431.253906 Z M 198.367188 431.253906 " style=" stroke:none;fill-rule:nonzero;fill:rgb(20.784314%,21.960784%,26.666667%);fill-opacity:1;" />
                        </g>
                    </svg>
                    <strong><a (click)="editRecipe(recipe.id)">{{recipe.name}}</a></strong>
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong>{{recipe.blg}}</strong>
                        </div>
                        <div>{{l('BLG')}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong>{{recipe.bitternessBalance}}</strong>
                        </div>
                        <div>{{l('IBU')}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong>{{recipe.abv}}<small class="text-muted">%</small></strong>
                        </div>
                        <div>{{l('ABV')}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong>{{recipe.srm}}</strong>
                        </div>
                        <div>{{l('SRM')}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong>{{recipe.beerSize}}</strong>
                        </div>
                        <div>{{l('BeerSize')}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <strong><a>{{recipe.beerStyle.name}}</a></strong>
                        </div>
                        <div>{{l('BeerStyle')}}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="pull-right">
                            <i *ngIf="!recipe.isPrivate" class="fa fa-check icon-recipe icon-recipe-add"></i>
                            <i *ngIf="recipe.isPrivate" class="fa fa-times icon-recipe icon-recipe-add"></i>
                        </div>
                        <div>{{l('Public')}}</div>
                    </li>
                </ul>
                <div class="text-center" style="padding-bottom:30px">
                    <button type="button" class="btn btn-warning pull-right" (click)="newBatch(recipe)">
                        <span>{{l('BrewThis')}}</span>
                    </button>
                    <span class="pull-left" (click)="remove(recipe)" style="cursor: pointer; font-size:24px"><i class="fa fa-trash icon-recipe"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>