<div class="row clearfix" [@routerTransition]>
    <div #recipeContent class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div *ngIf="active" class="body table-responsive">
            <form #warehouseForm="ngForm"  id="frm_warehouse" novalidate (ngSubmit)="save()">
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('FermentableIngredients')}}
                            <div class="btn btn-recipe btn-recipe-add" (click)="addIngredient()"><i class="fa fa-plus-circle icon-recipe icon-recipe-add"></i></div>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">{{l('IngredientName')}}</th>
                                        <th class="col-xs-2">{{l('Type')}}</th>
                                        <th class="col-xs-2">{{l('Quantity')}}</th>
                                        <th class="col-xs-2">{{l('Yield')}}</th>
                                        <th class="col-xs-2">{{l('EBC')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of warehouse.ingredients; let in=index">
                                        <td>
                                            <input id="ingredients{{in}}" name="Ingredient{{in}}" [(ngModel)]="warehouse.ingredients[in].ingredient.name" [typeahead]="allIngredients" typeaheadOptionField="name" class="validate form-control" (typeaheadOnSelect)="ingredientsWarehouseChanged($event, in)" placeholder="{{l('IngredientName')}}"  autocomplete="off">
                                        </td>
                                        <td>
                                            <input id="ingredientType{{in}}" name="IngredientType{{in}}" [ngModel]="getIngredientTypeValue(warehouse.ingredients[in].ingredient)" [typeahead]="ingredientTypes" [typeaheadMinLength]="0" class="validate form-control" typeaheadOptionField="name" placeholder="{{l('Type')}}" autocomplete="off">
                                        </td>
                                        <td>
                                            <div class="input-group-brew">
                                                <input type="number" id="ingredientQuantity{{in}}" name="ingredientQuantity{{in}}" [(ngModel)]="warehouse.ingredients[in].quantity" class="validate form-control form-control-with-name">
                                                <span class="input-group-addon time-addon"><small>kg</small></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" id="yield{{in}}" name="Yield{{in}}" [(ngModel)]="warehouse.ingredients[in].yield" class="validate form-control">
                                        </td>
                                        <td>
                                            <input type="number" id="ebc{{in}}" name="EBC{{in}}" [(ngModel)]="warehouse.ingredients[in].ebc" class="validate form-control">
                                        </td>
                                        <td><div class="btn btn-recipe" (click)="removeIngredient(in)"><i class="fa fa-trash icon-recipe"></i></div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-brew-group pull-right">
                                <button [disabled]="!warehouseForm.form.valid || saving" type="submit" [value]="warehouseForm.form.valid" class="btn btn-primary waves-effect" style="margin-right:10px">
                                    {{ "Save" | localize }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card main-content">
                    <div class="header">
                        <h2>
                            {{l('Hops')}}
                            <div class="btn btn-recipe btn-recipe-add" (click)="addHop()"><i class="fa fa-plus-circle icon-recipe icon-recipe-add"></i></div>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">{{l('Name')}}</th>
                                        <th class="col-xs-2">{{l('Quanity')}}</th>
                                        <th class="col-xs-2">{{l('AlphaAcids')}}</th>
                                        <th class="col-xs-2">{{l('Year')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of warehouse.hops; let in=index">
                                        <td>
                                            <input id="hop{{in}}" name="Hop{{in}}" [(ngModel)]="warehouse.hops[in].hop.name" class="validate form-control" [typeahead]="hops" typeaheadOptionField="name" placeholder="{{l('Name')}}"  autocomplete="off" (typeaheadOnSelect)="hopSelected($event, in)">
                                        </td>
                                        <td>
                                            <div class="input-group-brew">
                                                <input type="number" id="hopQuantity{{in}}" name="hopQuantity{{in}}" [(ngModel)]="warehouse.hops[in].quantity" class="validate form-control form-control-with-name">
                                                <span class="input-group-addon time-addon"><small>g</small></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" id="alphaAcids{{in}}" name="AlphaAcids{{in}}" [(ngModel)]="warehouse.hops[in].alphaAcid" class="validate form-control" placeholder="{{l('AlphaAcids')}}">
                                        </td>
                                        <td>
                                            <input type="number" id="year{{in}}" name="Year{{in}}" [(ngModel)]="warehouse.hops[in].year" class="validate form-control" placeholder="{{l('Year')}}">
                                        </td>
                                        <td><div class="btn btn-recipe" (click)="removeHop(in)"><i class="fa fa-trash icon-recipe"></i></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>