<div class="row clearfix" [@routerTransition]>
    <div #beerFermentationContent class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form *ngIf="active" #breweryForm="ngForm"  id="frm_fermentation_beer" novalidate (ngSubmit)="save(false)">
            <div class="container-fluid">
                <ul class="list-unstyled multi-steps">
                    <li class="{{beer.actualStep == 1 ? 'is-active': 'inactive'}}" (click)="goToProcess(1)">{{ "Mash" | localize }}</li>
                    <li class="{{beer.actualStep == 2 ? 'is-active': 'inactive'}}" (click)="goToProcess(2)">{{ "Boiling" | localize }}</li>
                    <li class="{{beer.actualStep == 3 ? 'is-active': 'inactive'}} selected" (click)="goToProcess(3)">{{ "Fermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 4 ? 'is-active': 'inactive'}}" (click)="goToProcess(4)">{{ "QuietFermentation" | localize }}</li>
                    <li class="{{beer.actualStep == 5 ? 'is-active': 'inactive'}}" (click)="goToProcess(5)">{{ "Bottling" | localize }}</li>
                </ul>
            </div>
            <div class="row clearfix" >
                <div class="col-sm-6">
                    <div class="card main-content">
                        <div class="header">
                            <h2>
                                {{l('Fermentation')}}
                                <div class="btn-brew-group pull-right">
                                    <button [disabled]="!breweryForm.form.valid || saving" type="submit" [value]="breweryForm.form.valid" class="btn btn-primary waves-effect" style="margin-right:10px">
                                        {{ "Save" | localize }}
                                    </button>
                                    <button [disabled]="!breweryForm.form.valid || saving || beer.actualStep > 3" type="button" class="btn btn-warning waves-effect" (click)="nextStep()">
                                        {{ "QuietFermentation" | localize }}
                                    </button>
                                </div>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="blgBeforeFermentation" type="number" name="BlgBeforeFermentation" [(ngModel)]="fermentationProcess.blg" required class="validate form-control" (ngModelChange)="blgChanged()">
                                                    <label for="blgBeforeFermentation" class="form-label">{{ "BlgBeforeFermentation" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="wortSizeAfterBoiling" type="number" name="WortSizeAfterBoiling" [(ngModel)]="fermentationProcess.wortSize" required class="validate form-control">
                                                    <label for="wortSizeAfterBoiling" class="form-label">{{ "WortSizeAfterBoiling" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input id="lossesFromBoiling" type="number" name="LossesFromBoiling" [(ngModel)]="fermentationProcess.boilingLosses" required class="validate form-control">
                                                    <label for="lossesFromBoiling" class="form-label">{{ "LossesFromBoiling" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <ng-datepicker name="FermentationStartDate" [(ngModel)]="fermentationProcess.date" [options]="{displayFormat:'YYYY-MM-DD', locale: enLocale, useEmptyBarTitle: false, firstCalendarDay: 1,addClass: 'validate form-control', fieldId: 'fermentationStartDate' }"></ng-datepicker>
                                                    <label for="fermentationStartDate" class="form-label">{{ "FermentationStartDate" | localize }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-line">
                                                <span class="form-label">{{ "PrognosedBLG" | localize }} <b>{{beer.beerRecipe.blg}}</b></span>
                                            </div>
                                            <div class="form-line" *ngIf="brewhouseEff">
                                                <span class="form-label" style="color:black; font-weight:unset">{{ "BrewHouseEfficiency" | localize }} <b>{{brewhouseEff}}%</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <span style="color: #ff8400;">{{beer.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>